# config/services.yaml
parameters:
    # These link the .env variables to internal parameters
    app.quiz_api_url: '%env(QUIZ_API_URL)%'
    app.api_key: '%env(QUIZ_API_KEY)%'
    app.recaptcha_site_key: '%env(RECAPTCHA_SITE_KEY)%'
    app.recaptcha_secret_key: '%env(RECAPTCHA_SECRET_KEY)%'
    google_recaptcha_site_key: '%env(GOOGLE_RECAPTCHA_SITE_KEY)%'

services:
    _defaults:
        autowire: true      
        autoconfigure: true 

        # GLOBAL BINDING: This fixes the "Cannot autowire" errors
        bind:
            $quizApiUrl: '%app.quiz_api_url%'
            $apiKey: '%app.api_key%'
            $recaptchaSecretKey: '%app.recaptcha_secret_key%'
            $huggingFaceToken: '%env(HUGGINGFACE_TOKEN)%'
            $weatherApiKey: '%env(OPENWEATHER_API_KEY)%'
    # Load all classes from src/ as services
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'